@model AutoCare.ViewModels.CheckUpsViewModel

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<div class="row">
    <div class="col-md-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label"></label>
                <select disabled asp-for="CarId" class="form-control">
                    <option>--Select Car Please--</option>
                </select>
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Counter" class="control-label"></label>
                <input asp-for="Counter" class="form-control" value="" />
                <span asp-validation-for="Counter" class="text-danger"></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
           
            
            <div class="form-group">
                <button type="submit"  class="btn btn-outline-success" >Save</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
