@model CarViewModel

@{
    ViewData["Title"] = "Create car";
}

<h1>Create Car</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
         
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarNumber" class="control-label"></label>
                <input asp-for="CarNumber" type="number" class="form-control" value="@(Model.CarNumber>0?Model.CarNumber:String.Empty)" />
                <span asp-validation-for="CarNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarLetter" class="control-label"></label>
                <input asp-for="CarLetter" class="form-control" />
                <span asp-validation-for="CarLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" type="number" class="form-control" value="@(Model.CarModel>0?Model.CarModel:String.Empty)" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="@(new SelectList(Model.Users,"Id","FirstName"))">
                    <option selected disabled>--Choose Owner Please--</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class="form-control" asp-items="@(new SelectList(Model.types,"Id","Name"))">
                    <option selected disabled>--Choose Your Type please--</option>
                </select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-check"></i>Save
                </button>
                <a asp-action="Index" class="btn btn-outline-secondary">
                    <i class="bi bi-x"></i> Cancel
                </a>
            </div>
        </form>
       
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(document).ready(function() {
        $('#CarModel').datepicker({
            format: "yyyy",
            viewMode: 'years',
            minViewMode: 'years',
            autoclose: true,
            startDate: new Date('2000-01-01'),
            endDate: new Date()
        });
    });
</script>
}
